// https://coolors.co/0a0a0a-1b1b1b-5c5c5c-858585-d6d6d6-ebebeb-ffffff
$night: #0a0a0a;
$eerie-black: #1b1b1b;
$davys-gray: #5c5c5c;
$battleship-gray: #858585;
$timberwolf: #d6d6d6;
$anti-flash-white: #ebebeb;
$white: #fff;
$olo: #0fc;
$electric-violet: #9400ff;
$dark: #1b1b1b;
$light: #fff;
$primary: #1a8fe3;
$seondary: #ac4755;
$border: $anti-flash-white;
$dev-border: $electric-violet;
